{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-runtime"]
}
// {
//   "presets": [
//     ["@babel/env", {
//       "modules": false
//     }]
//   ],
//   "plugins": ["@babel/plugin-transform-runtime"]
// }